<!doctype html>
{% extends "base.template.html" %}

{% block title %}Delete reivew{% endblock %}

{% block content %}

    <!--Page title-->
    <h1 class="title ml-5">Confirm to delete your review :"{{review.title}}" ?</h1>
    <a href="{% url 'view_dg_route' dg_id=dg.id %}" class="btn btn-warning btn-sm btn-title">Back to "{{dg.topic}}" Q&A</a>

    <form method="POST">
        {% csrf_token %}
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">{{review.title}} for Dg "{{review.dg.topic}}"</h5>
                <p class="card-text">{{review.content}}</p>
                <div class="card-footer text-muted">by {{review.user}} on {{review.date}}</div>
            </div>
        </div>
        <input type="submit" class="btn btn-danger btn-sm mt-3" value="Yes"/>    
        <a href="{% url 'view_dg_route' dg_id=dg.id %}" class="btn btn-warning btn-sm mt-3">No, Thanks</a>
    </form>
{% endblock %}