<!doctype html>
{% extends "base.template.html" %}
{% load crispy_forms_tags %}

{% block title %}Update your review{% endblock %}

{% block content %}

    <!--Page title-->
    <h1 class="title ml-5">Updating your review "{{review.title}}" on Q&A :"{{review.dg.topic}}"</h1>
    <a href="{% url 'view_dg_route' dg_id=dg.id %}" class="btn btn-warning btn-sm btn-title">Back to "{{dg.topic}}" Q&A</a>

    <h1></h1>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-warning btn-sm"/>
        <a href="{% url 'view_dg_route' dg_id=dg.id %}" class="btn btn-warning btn-sm">No, Thanks</a>
    </form>

{% endblock %}