<!doctype html>
{% extends "base.template.html" %}
{% load crispy_forms_tags %}

{% block title %}Update your review{% endblock %}

{% block content %}
    <h1>Updating your review "{{review.title}}" on Dg "{{review.dg.topic}}"</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-primary btn-sm"/>
        <a href="{% url 'view_dg_route' dg_id=dg.id %}" class="btn btn-primary btn-sm">No, Thanks</a>
    </form>

{% endblock %}