{% extends "base.template.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <main id="landingpage">
        <div class="col">
            <h1>Be the Dangerous Goods (DG) Expert</h1>
            <form method="GET">
                {% csrf_token %}
                {{ form.as_p }} 
                <a class="btn btn-info" href="{% url 'show_dg_route' %}" role="button">Explore</a>
                <a class="btn btn-info" href="{% url 'all_programs_route' %}" role="button">Upgrade Skills</a>
                <input class="btn btn-info" type="Submit" value="Search"/>
            </form>
        </div>
    </main>

    <figure>
        <div class="jumbotron one">
            <a href="{% url 'create_dg_route' %}">
                <div class="row">
                    <div class="col-lg-2.5 mx-auto"> 
                        <img src="{% static 'images/createpost.jpg' %}" class="img-fluid" alt="Create a post"/>
                    </div>
                    <div class="col-lg text">
                        <h1>Create post & share for free</h1>
                        <h3>Face problem on handling DG goods? Need helps!!? Let share your experience by pose questions or start a DG topic of conversation with our community.</h3>
                    </div>
                </div>
             </a>    
        </div>
        <div class="jumbotron">
            <a href="{% url 'show_dg_route' %}">
                <div class="row" id=swap>
                    <div class="col-lg text">
                        <h1>Free Community Discussion Forum</h1>
                        <h3>Our lovely members can join the conversation and discussions to share tips, offer their help and support</h3>
                    </div>
                    <div class="col-lg-2.5 mx-auto"> 
                        <img src="{% static 'images/discussion.jpg' %}" class="img-fluid" alt="Create a post"/>
                    </div>
                </div>
            </a>
        </div>
        <div class="jumbotron three">
            <a href="{% url 'all_programs_route' %}">
                <div class="row">
                    <div class="col-lg-2.5 mx-auto"> 
                        <img src="{% static 'images/elearning.jpg' %}" class="img-fluid" alt="Create a post"/>
                    </div>
                    <div class="col-lg text">
                        <h1>24/7 Access to help for your studies</h1>
                        <h3>Upgrade your skills? Dangerous Goods training allows the appreciation of the risks involved and the understanding of the regulations for a safe transportation.</h3>
                    </div>
                </div>
            </a>
        </div>
    </figure>


    
    <h2 class="mt-5">Dg dicussions related </h2>
    <a href="{% url 'show_dg_route' %}" class="btn btn-primary btn-sm">Explore all Dg discussion</a>
    <ul class="mt-3">
    {%for d in dgs %}
        <li class="mt-3">
            <a href="{% url 'view_dg_route' dg_id=d.id %}" class="btn btn-primary btn-sm">Learn more</a>
            {{d.title}} ({{d.imdg_code.chemical_name}})
        </li>
    {%endfor%}
    </ul>

    <h2 class="mt-5">Program related </h2>
    <a href="{% url 'all_programs_route' %}" class="btn btn-primary btn-sm">Explore all Programs</a>
    <ul class="mt-3">
    {%for p in programs %}
        <li class="mt-3">
            <a href="{% url 'add_to_cart' program_id=p.id %}" class="btn btn-primary btn-sm">Book</a>
            <a href="{% url 'view_program_route' program_id=p.id %}" class="btn btn-primary btn-sm">Learn more</a>
            {{p.title}} on {{p.date}} 
        </li>
    {%endfor%}
    </ul>

{% endblock %}