<!doctype html>
{% extends "base.template.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- landing page -->
    <main id="landingpage">
        <div class="title row justify-content-center">
            <h1>Be the Dangerous Goods (DG) Expert</h1>
        </div>
        <div class="row justify-content-center">
            <a class="btn btn-warning btn-home" href="{% url 'create_dg_route' %}" role="button"><i class="fa fa-plus" aria-hidden="true"></i>Create</a>
            <a class="btn btn-secondary btn-home" href="{% url 'show_dg_route' %}" role="button"><i class="fa fa-eye" aria-hidden="true"></i>Explore</a>
            
        </div>
        <div class="row justify-content-center">
            <a class="btn btn-secondary btn-home" href="#search" role="button"><i class="fa fa-search" aria-hidden="true"></i>Search</a>
            <a class="btn btn-warning btn-home" href="{% url 'all_programs_route' %}" role="button"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Upgrade</a>
        </div>
    </main>

    <!-- Web introduction -->
    <figure>
        <div class="jumbotron white">
            <a href="{% url 'create_dg_route' %}">
                <div class="row">
                    <div class="col-lg-2.5 mx-auto"> 
                        <img src="{% static 'images/createpost.jpg' %}" alt="Create a post"/>
                    </div>
                    <div class="col-lg text">
                        <h1>Create post & share for free</h1>
                        <h3>Face problem on handling DG goods? Need helps!!? Let share your experience by pose questions or start a DG topic of conversation with our community.</h3>
                    </div>
                </div>
             </a>    
        </div>
        <div class="jumbotron">
            <a href="{% url 'show_dg_route' %}">
                <div class="row swap-cr">
                    <div class="col-lg text">
                        <h1>Free Public Q&A</h1>
                        <h3>Our lovely members can join the conversation and discussions to share tips, offer their help and support</h3>
                    </div>
                    <div class="col-lg-2.5 mx-auto"> 
                        <img src="{% static 'images/discussion.jpg' %}" alt="Create a post"/>
                    </div>
                </div>
            </a>
        </div>
        <div class="jumbotron skin">
            <a href="{% url 'all_programs_route' %}">
                <div class="row">
                    <div class="col-lg-2.5 mx-auto"> 
                        <img src="{% static 'images/elearning.jpg' %}" alt="Create a post"/>
                    </div>
                    <div class="col-lg text">
                        <h1>24/7 Access to help for your studies</h1>
                        <h3>Upgrade your skills? Dangerous Goods training allows the appreciation of the risks involved and the understanding of the regulations for a safe transportation.</h3>
                    </div>
                </div>
            </a>
        </div>
    </figure>

    <!-- Search Engine -->
    <section>
        <form id="search" method="GET">
            {% csrf_token %}
            {{ form|crispy }} 
            <i class="fa fa-search" aria-hidden="true"></i> 
            <input class="btn btn-warning" type="Submit" value="Search"/>
        </form>

        <div class="table-responsive pl-3 pr-3">
            <table class="table table-striped table-bordered table-hover table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col"><a href="{% url 'all_programs_route' %}"><i class="fa fa-eye" aria-hidden="true"></i> All Programs</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {%for p in programs %}
                    <tr>
                        <td><a href="{% url 'view_program_route' program_id=p.id %}"><i class="fa fa-info-circle" aria-hidden="true"></i>{{p.date}}</a></td>
                        <td><a href="{% url 'view_program_route' program_id=p.id %}">{{p.title}}</a></td>
                        <td class="right"><a href="{% url 'add_to_cart' program_id=p.id %}"><i class="fa fa-cart-plus mr-2" aria-hidden="true"></i>Add to cart</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="table-responsive pl-3 pr-3">
            <table class="table table-striped table-bordered table-hover table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"><a href="{% url 'show_dg_route' %}">IMDG Code</a></th>
                        <th scope="col"><a href="{% url 'show_dg_route' %}"><i class="fa fa-eye" aria-hidden="true"></i> All Public Q&A Topic</a></th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in dgs %}
                    <tr>
                        <td><a href="{% url 'view_dg_route' dg_id=d.id %}"><i class="fa fa-info-circle" aria-hidden="true"></i>{{d.imdg_code.chemical_name}}</a></td>
                        <td><a href="{% url 'view_dg_route' dg_id=d.id %}">{{d.topic}}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}