<!doctype html>
{% extends "base.template.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <main id="landingpage">
        <div class="col">
            <h1>Be the Dangerous Goods (DG) Expert</h1>
            <form method="GET">
                {% csrf_token %}
                {{ form.as_p }} 
                <a class="btn btn-info" href="{% url 'show_dg_route' %}" role="button">Explore</a>
                <a class="btn btn-info" href="{% url 'all_programs_route' %}" role="button">Upgrade Skills</a>
                <input class="btn btn-info" type="Submit" value="Search"/>
            </form>
        </div>
    </main>

    <figure>
        <div class="jumbotron white">
            <a href="{% url 'create_dg_route' %}">
                <div class="row">
                    <div class="col-lg-2.5 mx-auto"> 
                        <img src="{% static 'images/createpost.jpg' %}" class="img-fluid" alt="Create a post"/>
                    </div>
                    <div class="col-lg text">
                        <h1>Create post & share for free</h1>
                        <h3>Face problem on handling DG goods? Need helps!!? Let share your experience by pose questions or start a DG topic of conversation with our community.</h3>
                    </div>
                </div>
             </a>    
        </div>
        <div class="jumbotron">
            <a href="{% url 'show_dg_route' %}">
                <div class="row" id="swap">
                    <div class="col-lg text">
                        <h1>Free Community Discussion Forum</h1>
                        <h3>Our lovely members can join the conversation and discussions to share tips, offer their help and support</h3>
                    </div>
                    <div class="col-lg-2.5 mx-auto"> 
                        <img src="{% static 'images/discussion.jpg' %}" class="img-fluid" alt="Create a post"/>
                    </div>
                </div>
            </a>
        </div>
        <div class="jumbotron skin">
            <a href="{% url 'all_programs_route' %}">
                <div class="row">
                    <div class="col-lg-2.5 mx-auto"> 
                        <img src="{% static 'images/elearning.jpg' %}" class="img-fluid" alt="Create a post"/>
                    </div>
                    <div class="col-lg text">
                        <h1>24/7 Access to help for your studies</h1>
                        <h3>Upgrade your skills? Dangerous Goods training allows the appreciation of the risks involved and the understanding of the regulations for a safe transportation.</h3>
                    </div>
                </div>
            </a>
        </div>
    </figure>

    <section>
        <div id="search" class="jumbotron white table-responsive-lg">
            <div class="row justify-content-center">
                <h1><u>Programs related</u></h1>
            </div>
            <table class="table table-striped table-bordered table-hover table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Programs</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {%for p in programs %}
                    <tr>
                        <td>{{p.date}}</td>
                        <td>{{p.title}}</td>
                        <td class="right"><a href="{% url 'add_to_cart' program_id=p.id %}" class="btn btn-info btn-sm">Book</a></td>
                        <td class="right"><a href="{% url 'view_program_route' program_id=p.id %}" class="btn btn-info btn-sm">Learn more</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="row justify-content-center">            
                <a href="{% url 'all_programs_route' %}" class="btn btn-info btn-sm">Explore all Programs</a>
            </div>
        </div>
    </section>

    <section>
        <div id="search" class="jumbotron aliceblue table-responsive-lg">
            <div class="row justify-content-center">
                <h1><u>DG Discussion Related</u></h1>
            </div>

            <table class="table table-striped table-bordered table-hover table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">IMDG Code</th>
                        <th scope="col">DG Discussion Topic</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in dgs %}
                    <tr>
                        <td>{{d.imdg_code.chemical_name}}</td>
                        <td>{{d.title}}</td>
                        <td class="right"><a href="{% url 'view_dg_route' dg_id=d.id %}" class="btn btn-info btn-sm">Learn more</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="row justify-content-center">            
                <a href="{% url 'show_dg_route' %}" class="btn btn-info btn-sm">Explore all Dg discussion</a>
            </div>
        </div>
    </section>
{% endblock %}