@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

/* base.template.htmlbase.template.html */
body {
    font-family: "Open Sans", sans-serif;
    background-color: aliceblue;
    margin-bottom: 90px;
}

.title {
    padding: 90px 0px 0px 15px;
}

a, a:hover{
    color: #3b464f;
}

form {
    padding: 60px;
}

/* header */
.navbar-light {
    background-color: white;
}

.navbar-brand:hover, .nav-link:hover {
    color: #3b464f;
    font-size: 120%;
}

.fa {
    color: #5bc0de;
    padding-left: 3px;
    padding-right: 3px;
}

.fa:hover {
    font-size: 120%;
}

/* home.template.html */
#landingpage { 
    height: 600px;
    width: 100%;
    background-color: #f0f8ff;
    object-fit: contain;
    padding-top: 100px;
    text-align: center;
}

#landingpage h1 {
    margin-bottom: 100px;
}

.btn {
    margin-bottom: 3px;
    align-self: center;
    font-size: initial;
}

.btn:hover {
    box-shadow: 20px 20px 40px 0px #3b464f;
    font-size: 120%;
}

.btn-home {
    margin-right: 2rem;
    height: 2.5rem;
    width: 8rem;
    text-transform: uppercase;
}

#landingpage .fa {
    color: white;
}

#landingpage .btn-warning .fa {
    color: #3b464f;
}

figure {
    margin: 0 0 0rem;
}

figure img {
    max-width: 350px;
    max-height: 350px;
}

figure img:hover {
    box-shadow: 20px 20px 40px 0px #3b464f;
}

.jumbotron {
    margin-bottom: 0rem;
}

.jumbotron .col-lg.text{
    align-self: center;
    padding: 20px 30px 0px 30px;
}

.jumbotron.white {
    background-color: white;
}

.jumbotron.skin {
    background-color: #e6c0aa;
}

.jumbotron.aliceblue {
    background-color: aliceblue;
}

#search {
    text-align: center;
    margin-bottom: 2rem;
}

td.right {
    text-align: -webkit-right;
}

th a, th a:hover{
    color: white;
}

/* dgs/dg.template.html */
p.title {
    padding: 0px 0px 0px 15px;
}

.card-deck {
    display: block;
}

#all_dgs .card {
    width: 15rem;
    height: 23rem;
    margin: 3rem;
}

.card:hover {
    height: 90%;
    box-shadow: 20px 20px 40px 0px rgba(0,0,0,0.5);
}

#all_dgs .card-img-top, #all_dgs .card-img-top img{
    height: 8rem;
    text-align: -webkit-center;
    max-width: 15rem;
    max-height: 8rem;
}

#all_dgs .card-body {
    height: 8rem;
    font-size: x-small;
}

.card-title, a {
    color: #544f63;
}

.card-title {
    margin-bottom: .1rem;
}

#all_dg .card-text {
    height: 2.8rem;
}

.line-clamp-1 {
    height: 1.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.line-clamp-3 {
    height: 4rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.line-clamp-5 {
    height: 4.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

/* dgs/details_dg.template.html */
#details_dg .title {
    padding: 90px 0px 0px 15px;
}

.btn-title {
    margin-left: 65px;
}

#details_dg .card {
    width: 70rem;
    height: fit-content;
    margin: 3rem;
}

#details_dg .col-lg-3 {
    text-align: -webkit-center;
    margin-bottom: 2rem;
}

.card-img-top img{
    height: 10rem;
    text-align: -webkit-center;
    max-width: 16rem;
    max-height: 14rem;
}

#details_dg .card-text{
    padding-top: 10px;
    height: fit-content;
}

/* programs/all_programs.template.html */
.row.programs {
    justify-content: center;
}

#programs .card {
    width: 70rem;
    height: fit-content;
    margin: 1rem;
}

#programs .card-header {
    height: 2.2rem;
}

/* programs/details_program.template.html */
.img-fluid {
    width: 100%;
    max-height: 450px;
    padding-top: 55px;
}

#details_program div {
    margin-bottom: 40px;
}

/* view_cart page */
#cart {
    padding: 60px;
}

#cart form {
    padding: 0px;
}

/* This swaps the position for create an event for mobile responsive */
@media screen and (max-width:990px){
.jumbotron .row{
  text-align: center;
}

.swap-cr {
  flex-direction: column-reverse;
  text-align: center;
}

h3 {
    font-size: 1.30rem;
}

.title {
    font-size: large;
}

#details_dg .card {
    width: fit-content;
}

.swap-c {
  flex-direction: column;
}

#programs .card {
    width: 20rem;
}
}