@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

/* base.template.htmlbase.template.html */
body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 3vw;
}

h3 {
    font-size: 2vw;
}

a, a:hover{
    color: black;
}

.btn {
    font-size: 1.2vw;
}

/* header */
.navbar-light {
    background-color: white;
}

.navbar-brand:hover, .nav-link:hover {
    color: #3b464f;
    font-size: 130%;
}

/* home.template.html */
#landingpage { 
    height: 600px;
    width: 100%;
    background-color: #f0f8ff;
    object-fit: contain;
    padding-top: 150px;
    text-align: center;
}

#landingpage h1 {
    margin-bottom: 100px;
    font-size: 3vw;
}

.btn {
    margin-bottom: 3px;
}

figure {
    margin: 0 0 0rem;
}

figure img {
    max-width: 250px;
    max-height: 250px;
}

figure img:hover {
    box-shadow: 20px 20px 40px 0px #3b464f;
}

.jumbotron {
    margin-bottom: 0rem;
}

.jumbotron .col-lg.text{
    align-self: center;
    padding: 20px 30px 0px 30px;
}

.jumbotron.white {
    background-color: white;
}

.jumbotron.skin {
    background-color: #e6c0aa;
}

.jumbotron.aliceblue {
    background-color: aliceblue;
}

#search {
    text-align: center;
    margin-bottom: 2rem;
}

th {
    font-size: 2vw;
}

td {
    font-size: 1.5vw;
}

td.right {
    text-align: -webkit-right;
}

/* dg.template.html */
#all_dg.jumbotron, #all_programs.jumbotron {
    padding-top: 120px;
}

#all_dg h1 {
    text-align: -webkit-center;
}

.card-deck {
    display: block;
}

.card {
    width: 15rem;
    height: 18rem;
    margin: 3rem;
}

.card:hover {
    height: 90%;
    box-shadow: 20px 20px 40px 0px rgba(0,0,0,0.5);
}

.card-img-top, .card-img-top img{
    height: 8rem;
    text-align-last: center;
}

.card-body {
    height: 8rem;
    font-size: x-small;
}

.card-title, a {
    color: #544f63;
}

.card-title {
    margin-bottom: .1rem;
}

.card-text {
    height: 2.8rem;
}

/* programs/all_programs.template.html */
.row.programs {
    justify-content: space-evenly;
}

/* This swaps the position for create an event for mobile responsive */
@media screen and (max-width:990px){
.jumbotron .row{
  text-align: center;
}

#swap{
  flex-direction: column-reverse;
  text-align: center;
}
