<!doctype html>
{% extends "base.template.html" %}
{% load crispy_forms_tags %}
{% load cloudinary %}
{% load static %}

{% block title %}Create a post{% endblock %}

{% block content %}
    
    <!--Page title-->
    <h1 class="title ml-5">Ask a question or share your experience with us</h1>
    <a href="{% url 'show_dg_route' %}" class="btn btn-warning btn-sm btn-title">Explore all Public Q&A</a>

    <!--Create Q&A Form-->
    <form method="POST" enctype="multipart/form-data" id="form">
        {% csrf_token %}
        {{ form|crispy }}
    
        <!-- Show image uploaded-->
        <div class="row mb-3">
            <div class="col-3 card-img-top uploaded_info_holder"></div>
        </div>
        <div class="row mb-1">
            <div class="col-3"><span class="status_value"></span></div>
        </div>

        <!-- Submit button -->
        <input type="submit" class="btn btn-warning btn-sm"/> 
        <a href="{% url 'show_dg_route' %}" class="btn btn-warning btn-sm">No, Thanks</a>
    </form>

{% endblock %}

<!-- Javascript for cloudinary uploading image -->
{% block js %}
	{% cloudinary_includes %}
	{% cloudinary_js_config %}
	<script>
		function prettydump(obj) {
            ret = ""
            $.each(obj, function(key, value) {
            ret += "<tr><td>" + key + "</td><td>" + value + "</td></tr>";
            });
            return ret;
        }

        $(function(){
            $("#form input[type='file']").cloudinary_fileupload({
                dropZone:"#form",
                start: function() {
                    console.log("Starting upload...")
                    $('.status_value').text("Starting direct upload...")
                },
                progress:function() {
                    console.log("uploading...")
                    $('.status_value').text("Uploading...");
                }
            }).on("cloudinarydone", function(e, data){
               $('.status_value').text("Upload done");

                var info = $('<div class="uploaded_info"/>');
                        $(info).append($('<div class="image"/>').append(
                        $.cloudinary.image(data.result.public_id, {
                        format: data.result.format, width: 150, height: 150, crop: "fill"
                    })
                ));
                $('.uploaded_info_holder').append(info);

                $("#form input[type='file']").parent().parent().remove();
            })  
        }) // end $(function
    </script>

{% endblock %}
