{% extends "base.template.html" %}
{% load cloudinary %}

{% block title %}Delete DG{% endblock %}

{% block content %}
    <h1>Deleting your DG "{{dg.title}}" share with us? </h1>
    <p> Are you sure?</p>
    <form method="POST">
        {% csrf_token %}
        <!-- {{ dg.as_p }} -->
        <div class="card">
            <div class="card-body">
                {% cloudinary dg.image %}
                <h5 class="card-title">{{dg.title}}</h5>
                <p class="card-text">{{dg.example}}</p>
                <p class="card-text">{{dg.prohibited_reason}}</p>
            </div>
        </div>
        <input type="submit" class="btn btn-danger" value="Yes"/>    
        <a href="{% url 'show_dg_route' %}">No</a>
    </form>
{% endblock %}