<!doctype html>
{% extends "base.template.html" %}
{% load cloudinary %}

{% block title %}Delete DG{% endblock %}

{% block content %}

    <!--Page title-->
    <h1 class="title ml-5">Confirm to delete your post "{{dg.topic}}"? </h1>
    <a href="{% url 'view_dg_route' dg_id=dg.id %}" class="btn btn-warning btn-sm btn-title">Back to "{{dg.topic}}" Q&A</a>

    <!--Deleting Q&A Form-->
    <form method="POST">
        {% csrf_token %}
        <div class="card">
            <div class="card-body">
                <div class="card-img-top">{% cloudinary dg.image %}</div>
				<h5 class="card-title">{{dg.topic}}</h5>
                <p class="card-text">{{dg.description}}</p>
            </div>
        </div>
        <input type="submit" class="btn btn-danger btn-sm mt-5" value="Yes"/>    
        <a href="{% url 'show_dg_route' %}" class="btn btn-warning btn-sm mt-5">No, thanks</a>
    </form>
{% endblock %}