<!doctype html>
{% extends "base.template.html" %}
{% load crispy_forms_tags %}
{% load cloudinary %}

{% block title %}Q&A Details{% endblock %}

{% block content %}
    
<div id="details_dg">
    <h1 class="title ml-5">Public Q&A : "{{dg.topic}}"</h1>
    <a href="{% url 'create_dg_route' %}" class="btn btn-warning btn-sm btn-title">Create a post</a>

    <!-- show that particular DG details  -->
    <div class="card">
        <div class="card-body">
            <div class="row swap-c">
                <div class="col-lg-3">
                    <div class="card-img-top">{% cloudinary dg.image %}</div>
                    <h5 class="card-title">{{dg.imdg_code}}</h5>
                </div>
                <div class="col-lg-9">
                    <h5 class="card-title">{{dg.topic}}</h5>
                    <h6 class="card-text">{{dg.description}}</h6>
                    <div class="card-footer text-muted">Written by {{dg.user}} on {{dg.date}}</div>
                    <a href="{% url 'create_review_route' dg_id=dg.id %}" class="btn btn-warning btn-sm">Add a review</a>
                    <a href="{% url 'show_dg_route' %}" class="btn btn-warning btn-sm">Explore all Public Q&A</a>
                    {% if request.user == dg.user %}
                    <a href="{% url 'update_dg_route' dg_id=dg.id %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'delete_dg_route' dg_id=dg.id %}" class="btn btn-danger btn-sm">Delete</a>
                    {% endif %}    
                </div>
            </div>
        </div>
    </div>

    <!-- show all the reviews -->
    <h1 class="ml-5">Reviews</h1>
    {% for r in dg.review_set.all %}
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">{{r.title}}</h5>
            <h6 class="card-text">{{r.content}}</h6>
            <div class="card-footer text-muted">Written by {{r.user}} on {{r.date}}</div>
            {% if request.user == r.user %}
            <a href="{% url 'update_review_route' review_id=r.id dg_id=r.dg_id %}" class="btn btn-warning btn-sm">Edit</a>
            <a href="{% url 'delete_review_route' review_id=r.id dg_id=r.dg_id %}" class="btn btn-danger btn-sm">Delete</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <a href="{% url 'create_review_route' dg_id=dg.id %}" class="btn btn-warning btn-sm btn-title">Add a review</a>
</div>
{% endblock %}