{% extends "base.template.html" %}
{% load cloudinary %}

{% block title %}View DG{% endblock %}

{% block content %}
    <h1>View DG post details</h1>
    <div class="card">
        <div class="card-body">
            {% cloudinary dg.image %}
            <h5 class="card-title">{{dg.title}}</h5>
            <p class="card-text">{{dg.example}}</p>
            <p class="card-text">{{dg.prohibited_reason}}</p>
            <a href="{% url 'create_review_route' dg_id=dg.id %}" class="btn btn-primary">Add a review</a>
        </div>
    </div>

    <!-- show all the reviews -->
    <h1>Reviews</h1>
    {% for r in dg.review_set.all %}
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">{{r.title}}</h5>
            <p class="card-text">{{r.content}}</p>
            <div class="card-footer text-muted">by {{r.user}} on {{r.date}}</div>
            <a href="{% url 'create_comment_route' review_id=r.id %}" class="btn btn-primary btn-sm">Leave a comment</a>
            {% if request.user == r.user %}
            <a href="{% url 'update_review_route' review_id=r.id %}" class="btn btn-primary btn-sm">Edit</a>
            <a href="{% url 'delete_review_route' review_id=r.id %}" class="btn btn-danger btn-sm">Delete</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
{% endblock %}