<!doctype html>
{% extends "base.template.html" %}
{% load cloudinary %}

{% block title %}DG{% endblock %}

{% block content %}
    <div class="jumbotron aliceblue" id="all_dgs">
        <h1 class="title ml-5">Public Q&A</h1>
        <a href="{% url 'create_dg_route' %}" class="btn btn-info btn-sm btn-create">Create a post</a>
    
        {% for d in dgs %}
        <acticle>
            
            <div class="row">
                <div class="col-lg-2.5 card-deck mx-auto">
                <!-- <div class="col-4 card-deck mx-auto"> -->
                    <div class="card">

                        <!--Card image-->
                        <div class="card-img-top">{% cloudinary d.image %}</div>

                        <!--Card header-->
                        <h5 class="card-header">{{d.imdg_code}}</h5>

                        <!--Card content-->
                        <div class="card-body">
                            <h6 class="card-title line-clamp-1">{{d.topic}}</h6>
                            <p class="card-text line-clamp-5">{{d.description}}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'view_dg_route' dg_id=d.id %}" class="btn btn-info btn-sm">Learn..</a>
                            {% if request.user == d.user %} 
                            <a href="{% url 'update_dg_route' dg_id=d.id %}" class="btn btn-info btn-sm">Edit</a>
                            <a href="{% url 'delete_dg_route' dg_id=d.id %}" class="btn btn-danger btn-sm">Del..</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            
        </acticle>
        {% endfor %}

    </div>
{% endblock %}