<!doctype html>
{% extends "base.template.html" %}

{% block title %}All Programs{% endblock %}

{% block content %}

    <!--Page title-->
    <h1 class="title ml-5">Upgrate your skill? Let's explore all programs</h1>

    <!-- only allow superuser have the right to create new program -->
    {% if request.user.is_superuser %}
    <a href="{% url 'create_program_route' %}" class="btn btn-primary btn-sm btn-title">Create a new program</a>
    {%endif%}

    <acticle>
        <div class="container mt-4">
            <div class="row" id="programs">
                {% for p in programs %}
                <div class="card-deck col-lg-2.5 mx-auto">
                    <div class="card">      
                        <h6 class="card-header line-clamp-1">{{p.title}}</h6>
                        <div class="card-body">
                            <h6>Who should attend ? </h6>
                            <p class="card-text line-clamp-1">{{p.who_should_attend}}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'add_to_cart' program_id=p.id %}" class="btn btn-warning btn-sm">Book</a>
                            <a href="{% url 'view_program_route' program_id=p.id %}" class="btn btn-warning btn-sm">Learn more</a>
                            <!-- only allow superuser have the right to Update & Delete program -->
                            {% if request.user.is_superuser %}
                            <a href="{% url 'update_program_route' program_id=p.id %}" class="btn btn-primary btn-sm">Edit</a>
                            <a href="{% url 'delete_program_route' program_id=p.id %}" class="btn btn-danger btn-sm">Delete</a>
                            {% endif %}
                        </div>


                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </acticle>
               
{% endblock %}