{% extends "base.template.html" %}

{% block title %}View Program{% endblock %}

{% block content %}
    <h1>View program details</h1>
    <div class="card mt-3">      
        <h5 class="card-header">{{p.title}}</h5>
        <div class="card-body">
            <h5 class="card-title">Date : {{p.date}}</h5>
            <p class="card-text">Who should attend : {{p.who_should_attend}}</p>
            <p class="card-text">Outline : {{p.outline}}</p>
            <p class="card-text">Objectives : {{p.objectives}}</p>
            <p class="card-text">Accreditation & Examination : {{p.accreditation_and_examination}}</p>
            <p class="card-text">Fees : {{p.fees}}</p>
            
            <a href="{% url 'add_to_cart' program_id=p.id %}" class="btn btn-primary btn-sm">Book</a>
            <a href="{% url 'all_programs_route' %}" class="btn btn-primary btn-sm">View All Programs</a> 
            {% if request.user.is_superuser %}
            <a href="{% url 'update_program_route' program_id=p.id %}" class="btn btn-primary btn-sm">Update</a>
            <a href="{% url 'delete_program_route' program_id=p.id %}" class="btn btn-danger btn-sm">Delete</a>
            {% endif %}
           
        </div>
    </div>
{% endblock %}