<!doctype html>
{% extends "base.template.html" %}
{% load crispy_forms_tags %}

{% block title %}Update Program{% endblock %}

{% block content %}

    <!--Page title-->
    <h1 class="title ml-5">Updating program "{{program.title}}"?</h1>
    <a href="{% url 'all_programs_route' %}" class="btn btn-info btn-sm btn-title">Explore all Programs</a>

    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-primary btn-sm"/>
        <a href="{% url 'all_programs_route' %}" class="btn btn-primary btn-sm">No, Thanks</a>   
    </form>

{% endblock %}
